body{
    margin: 0px;
    background-image: url(background.jpg);
}

#top{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;   
}

.inputBox{
    position: relative;
    width: 49%;
    height: 5vh;
    margin-top: 2vh;
}

.commentBox{
    margin-top: 2vh;
    position: relative;
    width: 99%;
    height: 5vh;
}

#usernameInput{
    margin-right: 2%;
}

#imageInput{
   margin-right: .5%;
}

#submitBut{
    width: 15%;
    height: 5vh;
    margin-top: 2vh;
}

#bottom{
    position: relative;
    height: 100vh;
    margin-top: 2vh;
}

.newObj{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    position: relative;
    width: 80%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px darkgrey solid;
    
}

.newImg{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100px;
    height: 100px;
}

.newMovie{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    
}

.newComment{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-family: Calibri;
    font-size: 14pt;
}

.newUsername{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Calibri;
    font-size: 18pt;
    font-weight: bold;
}
